.game_app {
 position: relative;
 max-width: 1280px;
 min-height: 720px;
 height: 100vh;
 overflow: hidden;
 margin: 0 auto;
}

.game_app .sky {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 background: url(../../../lib/images/bg_top.png)top/auto 100% repeat-x;
 z-index: 1;

}

.game_app .game {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 70000px;
 height: 100%;
 background: url(../../../lib/images/bg_bottom.png)bottom/ auto 100% repeat-x;
 z-index: 10;
 will-change: transform;
}

/* info */
.game_info {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 150px;
 z-index: 10;
}

.game_info .hero_state {
 width: 300px;
 height: 100%;
 padding: 10px;
}

.game_info .hero_state .hero_img {
 float: left;
 width: 20%;
}

.game_info .hero_state .state_box {
 float: left;
 width: 80%;
 height: 100%;
 padding-top: 10px;
}

.game_info .hero_state .state_box .hp {
 width: 100%;
 height: 10px;
 border: 1px solid #000;
}

.game_info .hero_state .state_box .hp span {
 display: block;
 width: 100%;
 height: 100%;
 background-color: #e30d0d;
 transition: width .3s linear;
}

/* 기본 히어로 */
@keyframes hero_idle {
 100% {
  background-position-x: right;
 }
}

.hero_box {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 150px;
 height: 182px;
 will-change: transform;
}

.hero_box .hero {
 height: 100%;
 aspect-ratio: 377/458;
 background-position: 0px 0px;
 background-size: auto 100%;
 background-repeat: no-repeat;
 background-image: url(../../../lib/images/ninja_idle.png);
 animation: hero_idle 0.7s infinite steps(9);
}

.hero_box .hero.flip {
 transform: rotateY(180deg);
}

/* 뛰는 */
@keyframes hero_run {
 100% {
  background-position-x: right;
 }
}

.hero_box .hero.run,
.hero_box .hero.run.attack {
 background-image: url(../../../lib/images/ninja_run.png);
 animation: hero_run 0.7s infinite steps(9);
}

/* 공격 */
@keyframes hero_attack {
 100% {
  background-position-x: right;
 }
}

.hero_box .hero.attack {
 background-image: url(../../../lib/images/ninja_attack.png);
 animation: hero_attack 0.7s 1 steps(9);
}

.hero_bullet {
 position: absolute;
 left: 0;
 bottom: 0;
 width: auto;
 height: 16px;
 aspect-ratio: 160/32;
 z-index: 10;
 background: url(../../../lib/images/hero_bullet.png)center/contain no-repeat;
 will-change: transform;
}

/* 충돌 */
@keyframes hero_crash {
 0% {
  background-position-x: 0px;
 }

 100% {
  background-position-x: -259px;
 }
}

.hero_box .hero.crash {
 background-image: url(../../../lib/images/ninja_crash.png);
 animation: hero_crash .4s 1 steps(2);
}

/* 다이 */
@keyframes hero_dead {
 100% {
  background-position-x: right;
 }
}

.hero_box .hero.dead {
 background-image: url(../../../lib/images/ninja_dead.png);
 animation: none;
 transform: rotate(90deg) translateX(53px);
}

/* 몬스터 */
@keyframes monster_run {
 100% {
  background-position-x: right;
 }
}

.monster_box {
 position: absolute;
 left: 700px;
 bottom: 0;
 width: auto;
 height: 294px;
 aspect-ratio: 450/472;
 will-change: transform;
 z-index: 10;
}

.monster_box .monster {
 height: 100%;
 background-position: 0 0;
 background-size: auto 100%;
 background-repeat: no-repeat;
 background-image: url(../../../lib/images/monster/monster_green_run.png);
 animation: monster_run 1s infinite steps(7);
}

.monster_box .hp {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 10px;
 border: 2px solid #000;
 transform: translateY(-100%);
}

.monster_box .hp span {
 display: block;
 width: 100%;
 height: 100%;
 background-color: #e30d0d;
 transition: width .3s linear;
}

.monster_box.remove {
 opacity: 0;
 transition: opacity .2s;
}